driver	/usr/lib/libmlx4
ibdev	mlx4_0
#/sys/class/infiniband_verbs/abi_version
kernel_abi_version	6
/sys/class/infiniband_verbs/uverbs0/abi_version
uverbs_abi_version	3
device/vendor	0x15b3
device/device	0x1003
node_type	1: CA
# port gid and nod_guid needs to be pre-configured for each host
ports/1/gids/0 fe80:0000:0000:0000:f652:14ff:fe22:ba31 
ports/2/gids/0 fe80:0000:0000:0000:f452:1403:0022:ba32
node_guid	f452:1403:0022:ba30
